* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: #e2e8f0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #020617;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}

/* SECTIONS */
.section {
    padding: 60px 40px;
}

/* PROJECTS */
.projects-container {
    display: flex;
    gap: 20px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

/* SKILLS */
.skills-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
